#waybar {
    background-color: rgba(30, 30, 30, 0.5);
}

#clock {
    color: #ffffff;
    background-color: rgba(0, 42, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#battery {
    color: #333333;
    background-color: rgba(255, 202, 97, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#cpu {
    color: #ffffff;
    background-color: rgba(74, 161, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#memory {
    color: #ffffff;
    background-color: rgba(25, 102, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#temperature {
    color: #333333;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#backlight {
    color: #333333;
    background-color: rgba(184, 255, 97, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#network {
    color: #ffffff;
    background-color: rgba(0, 42, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#pulseaudio {
    color: #ffffff;
    background-color: rgba(0, 42, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#workspaces {
    color: #333333;
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#workspaces button {
    padding: 0 5px;
    margin: 0 5px;
    background-color: #002aff;
    border-radius: 5px;
    border: 2px solid #00ff99;
    color: #ffffff;
    box-shadow: none;
}

#workspaces button:hover {
    background-color: #ffffff;
    color: #002aff;
}

#workspaces button.focused {
    border-color: #ffffff;
    color: #002aff;
}

#workspaces button.active {
    background-color: #ffffff;
    color: #002aff;
}
